sudo: required

services:
- docker

language: go

go:
- "1.16"

env:
- DEP_VERSION="0.4.1"

install:
# Download and install dep
- curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep

script:
- make test
